*.sqlite*
/node_modules
/.idea
/public/css
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/public/dist
/public/build
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
*.code-workspace
/build
.php-cs-fixer.cache
.vscode/settings.json
.prettierrc
coverage
storage/upload_tmp
/data.ms
dump.rdb
